.servicesSection {
    max-width: 1718px;
    padding: 0 40px 150px 100px; 
    width: 100%;
    height: auto;

    h1 {
        padding-left: 2rem;
        margin: 150px 0 80px; 
        font-weight: 500;
        font-size: clamp(18px, 3vw, 48px);
        color: #fff;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        .first-list,
        .second-list {
            display: flex;
            flex-direction: column;
            padding: 0 2rem; 

            li {
                max-width: 500px;
                margin-top: 40px;
                position: relative;
                padding-left: 2.5rem;
                font-weight: 400;
                font-size: clamp(12px, 2vw, 24px);
                color: #fff;

                &::after {
                    content: '';
                    background: url(../../assets/list.svg) no-repeat center;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 50px;
                }
            }
        }
    }

    .link-project {
        margin: 60px 0 0 2rem; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 239px;
        height: 82px;
        background: #fff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s  linear;
       
            p{
                font-weight: 500;
                font-size: clamp(14px, 2vw, 20px);
                color: #000;
                transition: 0.5s  linear;
        }
    }
    .link-project:hover{
        background: #ffae34;
        p{
            color: #fff;
           
        }
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .servicesSection {
        padding: 0 10px 0 20px; 

        h1 {
            margin: 0 0 25px;
            padding-left: 0;
        }

        .list {
            gap: 10px;

            .first-list,
            .second-list {
                padding: 0;

                li {
                    margin-top: 20px;

                    &::after {
                        max-height: 50px;
                        height: auto;
                        min-height: 20px;
                    }
                }
            }
        }

        .link-project {
            margin: 24px 0 0;
            max-width: 150px;
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            margin-top: 40px;
        }
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .servicesSection {
        padding: 0 10px;

        h1 {
            margin: 0 0 12px;
            padding-left: 0;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 0px;

            .first-list,
            .second-list {
                padding: 0;

                li {
                    margin-top: 20px;

                    &::after {
                        max-height: 50px;
                        height: auto;
                        min-height: 20px;
                    }
                }
            }
        }

        .link-project {
            margin: 24px 0 0;
            max-width: 580px;
            width: 100%;
            height: 40px;
        }
    }
}
