@charset "UTF-8";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
   
    font-family: "Oswald", sans-serif;
    background-color: #141411;
    overflow-x: hidden;
    div{
      margin: 0 auto;
    }
}